<div class="row" style="margin-left: 10px;">
  <div class="col-cs-12">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-cs-12">
          <div class="form-group">
            <label for="shortDescription">Short Description</label>
            <input
              type="text"
              id="shortDescription"
              formControlName="shortDescription"
              class="form-control"
              style="width: 400px; color: skyblue; background-color: rgba(115, 41, 41, 0.97);"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-cs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              formControlName="description"
              class="form-control"
              rows="6"
              style="width: 400px; color: skyblue; background-color: rgba(115, 41, 41, 0.97);"
            ></textarea>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-cs-12">
          <div class="form-group">
            <label for="due">Due</label>
            <input
              type="date"
              id="due"
              formControlName="due"
              class="form-control"
              style="width: 400px; color: skyblue; background-color: rgba(115, 41, 41, 0.97);"
              [value]="due | date: 'mm/dd/yyyy'"
            />
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-cs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!todoForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
